.button button {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #eae0f3;
    color: #7b4ae4;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}